@using qengyWeb.Data
@page "/"
@inject HttpClient Http

<PageTitle>qengy - .NET libraries and apps</PageTitle>

<MudContainer Class="py-5 px-5 mud-secondary">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="pb-5"><b>Let me solve your critical development challenges in .NET</b></MudText>
    <MudText Align="Align.Center">My name is <b>Pablo Cano</b> and I am a Developer in .NET Technologies. I am an accomplished coder and programmer, and I enjoy using my skills to contribute to the exciting technological advances that happen every day.</MudText>
    <MudImage Fluid="true" Src="imgs/index-1.png"></MudImage>
</MudContainer>

<div Class="py-10 px-5 mud-theme-primary">
    <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Dark" Class="pb-5"><b>.NET Developer</b></MudText>
    <MudText Align="Align.Center" Color="Color.Dark">Producing code using .NET C# language.</MudText>
    <MudText Align="Align.Center" Color="Color.Dark">Upgrading, configuring and debugging existing systems.</MudText>
    <MudText Align="Align.Center" Color="Color.Dark">Providing technical support for web, desktop or mobile applications.</MudText>
    <MudText Align="Align.Center" Color="Color.Dark">Participate in requirements analysis.</MudText>
    <MudText Align="Align.Center" Color="Color.Dark">Write clean, scalable code using .NET programming languages.</MudText>
</div>

<MudContainer Class="py-5 px-5 mud-secondary">
    <MudGrid>
        <MudItem sm="12" md="6" Class="d-flex align-center">
            <MudPaper Elevation="0">
                <MudText Typo="Typo.h5" Align="Align.Center" Class="pb-5"><b>More than repositories</b></MudText>
                <MudText Align="Align.Center">I help, from hobby developers to large enterprises, build amazing apps in record time and let them focus on their business. Ready to build amazing things? there are several ways to get started. If you are new to web development or .NET in general, this repositories are for you. I had a vision for this project, to keep it clean, simple, with a modern design, to show easy code and easy to use in your solutions.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem sm="12" md="6">
            <MudImage Fluid="true" Src="imgs/index-2.png"></MudImage>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer Class="py-5 px-5 mud-secondary">
    <MudSimpleTable Hover="true" Dense="true" Bordered="true">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var rep in reps)
            {
                <tr>
                    <td>@rep.Repo</td>
                    <td>@rep.Description</td>
                    <td><MudLink Href="@rep.GIT">@rep.GIT</MudLink></td>
                    <td><MudLink Href="@rep.Demo">@rep.Demo</MudLink></td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudContainer>

<div Class="py-10 px-5 mud-theme-primary">
    <MudImage Src="imgs/logo-mono.png" Width="50"></MudImage>
    <MudText Color="Color.Dark"><b>admin@qengy.com</b></MudText>
    <MudText Color="Color.Dark">Copyright © 2022 qengy.</MudText>
</div>

@code {

    private Repository[]? reps = new Repository[0];
    private string[] headings = { "Repository", "Description", "GIT", "Demo" };


    protected override async Task OnInitializedAsync()
    {
        reps = await Http.GetFromJsonAsync<Repository[]>("data/repositories.json");
    }
}